h1{color:yellow}
input{
    height: 30px;
    width: 30%;
    outline-color: yellow;
    border-color: yellow;
    border-width: 0.75mm;
}
button{ 
    height: 1cm;
    width: 2.5cm;
    font-size: medium;
    border-radius: 0.5cm;
}
#logout{
height: 2.5cm;
width: 2.5cm;
border-radius: 0.5cm;
}